.background{
    background-image: url(../../assets/bk.jpg);
    size: 100%;
    
}

h1{
    color: aliceblue;
    position: relative;
    left: 300px;
}
.quotes{
    color: white;
}
img{
}

.move{
    position: relative;
    left: 450px;
}
.move2{
    position: relative;
    left: 300px;
}