<div class="background">

  <div class="container">
    <div class="jumboon">
      <h1><strong>INSIDE A BRILLIANT MIND !!!</strong></h1>
      <h1 class="move"> "QUOTES"</h1>
      <hr>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <ol >
        <div *ngFor='let quote of quotes ;let i = index'><br>
          <div class="card" ></div>
          <li  style="width: 88rem;">{{quote.name}} </li>
          <div class="row ,">
            <p><button class="btn btn-outline-success" (click)="likeButtonClick()" >like ({{numberOfLikes}})</button></p>
            <br> <p><button class="btn btn-outline-danger" (click)="dislikeButtonClick()">Dislike({{numberOfDislikes}})</button></p>


            <button class="btn btn-outline-primary" (click)='toogleDetails(i)'>more info.</button>

          </div>
          <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='completeQuote($event,i)'></app-quote-details>
        </div>
        <p *ngIf='quotes.length >5'> KEEP ADDING QUTES ,BE FAMOUS !!!</p>

      </ol>
    </div>
  </div>



  <div class="container">
    <div class="card move2" style="width: 28rem;">
      <div class="jumbotron">
        <h2>GOT A FAVORITE QUOTE?? ADD IT !!</h2>

        <div class="row">
          <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
      </div>
    </div>
  </div>
</div>