<div class="container">
  <div class="jumbotron">
    <h1>INSIDE BRILLIANT MINDS !!!</h1>
    <hr>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <ol>
      <div *ngFor='let quote of quotes ;let i = index'><br>
        <li style="width: 88rem;">{{quote.name}} </li>
        <div class="row">
          <p><button class="btn btn-outline-success" (click)='add'>like ({{sum}})</button></p>
          <br> <p><button class="btn btn-outline-danger" (click)='add'>Dislike ({{sum}})</button></p>


          <button class="btn btn-outline-primary" (click)='toogleDetails(i)'>more info.</button>
        </div>
        <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='completeQuote($event,i)'></app-quote-details>

      </div>
    </ol>
  </div>
</div>
<p *ngIf='quotes.length > 2'></p>


<div class="container">
  <h1>ADD NEW QUOTE TODAY</h1>
  <div class="row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
</div>